# Database
# Para desarrollo (SQLite):
DATABASE_URL="postgres://cc16f20d5439e310798ec52fd1db0b28801827f6bf664a686bf26d907a131cdd:sk_0y5rm-XSV610BNEpScuIc@db.prisma.io:5432/postgres?sslmode=require"
# Para producción (PostgreSQL):
# DATABASE_URL="postgresql://user:password@localhost:5432/catalogo_sunass?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# Google OAuth (opcional)
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Dominio permitido para auto-registro
ALLOWED_DOMAIN="sunass.gob.pe"
